# R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# directories not to be tracked

# this construction 
/external_files/links/
/plots/*/
/bf_per_lct/*/
results
intermediates
temp
publication_results
/fitted_models/GLMs

publication_results-bup/
results-bup/


# emacs back-ups
*~

